* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

/* custom css for boostrap component */
.accordion-item {
    outline: none !important;
  }
  .accordion{
    display: none;
  }
  
#Fsec {
    width: 100%;
    background-image: url(images/hulubackgroundimg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav2 {
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}

.nav2 div:nth-child(1) img {
    width: 5rem;
}

.nav2 div:nth-child(2) {
    /* border: 2px solid red; */
    display: flex;

}

.nav2 div:nth-child(2) .login {
    display: block;
    padding: 10px 10px;
    color: rgb(163, 169, 183);
    font-weight: 600;
    font-size: 1rem;
    position: relative;
    text-decoration: none;
}

.nav2 .login:hover {
    color: white;
    background-color: rgb(67, 70, 75);
    border-radius: 5px;

}

.nav2 div .burga1 {
    display: none;
}

.container1 {
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    /* border: 3px solid red; */
}

.middiv {
    width: 50%;
    /* border: 2px solid teal; */
    display: flex;
    text-align: center;
}

.middiv .box1 {
    text-align: center;
}

.middiv .box1 .dis {
    color: rgb(28, 231, 131);
    font-weight: 800;
    padding-bottom: 30px;
    font-size: 0.8rem;

}

.middiv .box1 img {
    width: 12rem;
}

.middiv .box2 img {
    width: 15rem;
}

.middiv .box1 .both {
    color: white;
    font-size: 1.5rem;
    /* text-align:center; */
    font-weight: 600;
    padding: 30px;
}

.middiv .butt button {
    width: 90%;
    padding: 13px;
    font-weight: 700;
    border: 0;
    border-radius: 3px;
    background: rgb(28, 231, 131);
    cursor: pointer;
    transition: background ease-in 300ms;
}

.middiv .butt button:hover {
    /* background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),rgb(28,231,131);  */
    background: rgb(21, 184, 103);


    /* background: red; */
}

.container1 .signup div a {
    display: block;
    font-weight: 400;
    text-align: center;
    color: white;
}

.container1 .signup div a:hover {
    color: rgb(28, 231, 131);
}

.signup {
    /* border: 2px solid teal; */
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.container1 .signup .terms_apply {
    color: rgb(151, 151, 151);
    cursor: pointer;
    font-weight: 500;
    outline: 0;
    border: 0;
    text-decoration: underline;
    background-color: transparent;
}

.view_more {
    color: rgb(255, 255, 255);
    font-size: 0.8rem;

}

.view_more_plan button {
    border: 1px solid rgb(151, 151, 151);
    cursor: pointer;
    outline: 0;
    text-decoration: underline;
    background-color: transparent;
    padding: 20px;
    border-radius: 50%;
}

#Ssec {
    width: 100%;
    padding-bottom: 50px;
    background-color: rgb(11, 12, 15);
}

.box4 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 4rem;
}

.box4 span {
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(2, 192, 107);
    display: block;
    padding-bottom: 15px;

}

.box4 h2 {
    color: white;
    font-size: 3rem;
    padding-bottom: 25px;

}

.box4 p {
    color: white;
    text-align: center;
    margin: 0 auto;
    max-width: 85ch;
    font-size: 1.03rem;
}

.box5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 95%;
    justify-content: center;
    gap: 2rem;
    justify-content: center;
    padding-inline: 2rem;
}

/* Movie Card */
.card__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 95%;
    justify-content: center;
    padding-inline: 2rem;
    gap: 2rem;
    /* position: relative; */
}

.card {
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    transition: all ease-in-out 300ms;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.2);
}

.card:hover::before {
    background-color: rgb(0, 0, 0, 0.6);
}

.card:hover {
    outline: 4px solid gray;
}
.card__text{
    color: white;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    display:flex ;
    flex-direction: column;
    gap: .7rem;

}
.premium {
    color: gray;
    text-align: end;
    padding: 15px 70px 20px 0;
    font-size: 0.8rem;
    /* position: absolute;
    bottom: -1.5rem;
    right: 0; */
}

.box7{
    width: 70%;
    text-align: center;
    color: white;
    margin: 30px auto;
}

.hulu_liveTV {
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(2, 192, 107);
    padding: 5px;

} 
/* .box8{
    margin-top:20px;
}  */
.box7 h2 {
    color: white;
    font-size: 2.8rem;
    font-weight: 600;
    padding: 20px;

} 
.get__channels{
    color: rgb(243, 243, 243);
    font-size: 1.2rem;
    display: flex;
    font-weight: 400;
    width: 85%;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}
.get__hulu{
    margin: 20px auto;
    width: 220px;
    font-weight: 700;
    color: black;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(2, 192, 107);
}
.live__tv__only{
    font-size: 0.6rem;
    color: rgb(157,158,159);
    width: 88%;
    margin:0 auto;
}
.see_details {
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0;
    text-decoration: underline;
    border: 0;
    background: 0;
    color: rgb(129, 129, 131);
    cursor: pointer;
} 
.view__channel{
        border: 0;
        background: 0;
        font-size: 1.1rem;
        padding:30px;
        color: rgb(174, 174, 175);
        text-decoration: underline;
        font-weight:500;
        cursor: pointer;
}

/* LIVE SPORT  */
.sport__wrapper{
    background-image: url('./images/Robotic-image.jpg');
    background-size: cover;
    background-position: center;
    display: flow-root;
}

.sport__content{
  height: 600px;
  width: 65%;
  /* border: 2px solid red; */
  display: flex;
  margin-top: 12rem;
  /* align-items: center; */
}

.sport__details{
    /* border: 2px solid green; */
    margin: 0 auto;
}
.sport__details :is(.secondchild,.thirdchild){
    color: darkgray;
}

.sport__details nav ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;
    padding-bottom: 1rem;
    /* border: 2px solid red; */
}

.sport__details nav ul .firstchild{
    padding-bottom: 1.3rem;
    position: relative;
}

.sport__details nav ul .firstchild::after{
     content: '';
     position: absolute;
     height: 5px;
     left: 0;
     right: 0;
     bottom: 0;
     top: -50;
     background-color: white;
}
.sport__details nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
}
.sport__details h2{
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
    margin-top: 1rem;
}
.sport__details .sport__text{
    color: #fff;
    max-width: 48.5ch;
    font-size: 1rem;
    line-height: 21.76px;
    padding-block: .8rem;
}
.sport__icons{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-block: 0.5rem;
}
.sport__icons .icon{
    background-color: white;
    padding: .4rem .2rem;
    border-radius: 50%;
    
}
.sport__details .tv__plan{
    font-size: .7rem;
    color: darkgray;
    padding-top: 1rem;
}
.sport__details .tv__plan a{
    color: darkgray;
}
.thirdsec{
    background-image: url(https://cnbl-cdn.bamgrid.com/assets/3ab6ce86baaf4225b072c58fa9497ec949c0c9e284b3958ecda1429b7f3744f9/original);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:200px 0;
}
.middiv2{
    margin: 0 190px;
}
.middiv2 .box10{
    padding:10px;
    margin: 10px;
}
.box10 button {
background: 0;
border: 0;
padding-bottom:18px;
cursor: pointer;
}
.box10 button span{
    display: block;
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 0.7rem;
}
.box10 button:nth-child(2) span{
    color:rgb(97,114,104);
    margin:0 10px;
}
.box10 button:nth-child(3) span{
    color:rgb(97,114,104);
}
.box10 .nul{
    background-color: white;
    padding:2px;
    width:80px;
}
.box11{
    margin: 10px;
    color: white; 
    font-family: sans-serif;
    font-weight:500;
}
.box11 div:nth-child(1) span{
    font-size:3rem;
}
.box11 .parag{
    font-size:0.99rem;
    padding:20px 0;
    color: rgb(216,225,221);
    line-height:20px;
    text-align: justify;
    width:50%;
}
.imgin_circle{
    width: 30%;
    display: flex;
    padding-bottom: 20px;
    flex-direction: row;
    justify-content: space-between;
}
.imgin_circle div img{
    margin-top:10px;
    width:3rem;
    
}
.imgin_circle div{
    justify-items: center;
    width: 50px;
    height:50px;
    background-color: white;
    border-radius:100%;
}
.box11 p{
    font-size: 0.65rem;
    padding: 10px;
    font-weight: 700;
    color: rgb(128,152,141);
}
.box11 p a{
    color: rgb(128,152,141);
}

.fouthsec{
    background-color: rgb(11,12,15);
    padding-bottom:40px;
}

.middiv3{
    text-align: center;
    color: white;
    font-family: sans-serif;
    /* border: 3px solid red; */
    width: 960px;
    margin: 0 auto;
}
.Select_plan{
    /* padding: 100px 100px 40px 100px; */ 
    padding-block:4rem;
}
.middiv3 .Select_plan h2{
    font-size:3rem;
    padding-bottom:20px;
}
.switch_plans{
    font-weight:500;
    letter-spacing: 0.6px;
    /* word-spacing:0.1em; */
    width: 100%;
}
.switch_plans b{
    display: block;
    font-size:1.3rem;
    font-weight: bold;
}
.box12{
    border-top:1px solid rgb(155,157,159);
    border-bottom:1px solid rgb(155,157,159);
    gap:20px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background-color: rgb(11,12,15);
    position: sticky;
    top:0;
    /* border: 3px solid yellow; */
}
.base_plan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:2px;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
    /* border: 2px solid green; */
}
.base_plan div:nth-child(1){
    /* border: 2px solid white; */
    
}

.base_plan div:nth-child(2){
    /* border: 2px solid white; */
    
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgb(66,73,87);
    -webkit-transition:0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content:"";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:white;
    -webkit-transition:0.4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: rgb(28,231,131);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(28,231,131);
}

:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.base_plan div:nth-child(3){
    /* border: 2px solid white; */
    /* display: flex; */
    text-align: justify;
    /* width: 2rem; */
    
}
.base_plan div:nth-child(3) img{
    width:12rem;
    display: block;
    
}
.free_trial_with_adds{
    /* border: 2px solid purple; */
    color: white;
    display: flex;
    gap: 20px;
    text-align:center;
    font-size:0.8rem;
    font-family: sans-serif;
    align-items: end;
}

.with__adds .first{
   font-size: .6rem;
   font-weight: 500;
   letter-spacing: 1px;
   padding:.4rem 1rem;
   margin:20px;
   color: black;
   display: inline-block;
   background-color:rgb(28,231,131);
   border:0;
   border-radius:50px;
}

:is(.with__adds,.no__adds) .second{
    color: #BEC0C2;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 14px;
    padding-bottom: 0.4rem;
}

:is(.with__adds,.no__adds) .third{
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 23.7px;
}
.with__adds,.no__adds{
    padding: 20px;
}

.monthly_sub{    
    cursor: pointer;
    border: 0;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.6px;
    padding: .8rem 4rem;
    margin-top: .8rem;
    background-color:white;
    border-radius: 5px;  
}
.monthly_sub:hover{
background-color:rgb(197,197,197) ;
}
.middiv4{
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    border-bottom:1px solid rgb(87,87,89);
    font-size:0.8rem;
    font-family: sans-serif;
}

.box13{
    width: 37.5%;
    text-align: left;
    padding:30px 0;
    font-size: 0.9rem;
}
.box14{
    width:28.5%;
    padding:30px 0;

}
.middiv4 .line  span{
display: inline-block;
width:15px;
padding:0.5px;
background-color:rgb(184,190,204);
/* border: 2px solid red; */
}
.box15{
    width:30%;
    text-align: center;
    padding:30px 0;
}
.current_sea{
    font-size: 0.6rem;
    font-family: sans-serif;
    width: 100%;
    padding: 15px 30px 30px 0 ;
    margin: auto;
    text-align: start;
    border-bottom:1px solid rgb(87,87,89);
}
.current_sea div:nth-child(2){
    padding: 3px 0;
}
.show_adds{
    /* border: 2px solid teal; */
    font-size:1rem;
    padding: 1rem 0 ;
    text-align: center;
    display: flex;
    margin: auto;
    cursor: pointer;
}
.show_adds div:nth-child(1){
    padding: 5px;
}

.show_adds .fa-chevron-down{
    padding: 5px;
    font-size: 20px;
}

.fifth_section{
    border: 2px solid green;
    background-color: rgb(232,234,237);

}
.box17{
    width: 80%;
    margin: auto;
    border: 2px solid red;
}
.box17 h3{
    color: rgb(39,44,52);
}
.fifth_section .box17 div a{
    color: rgb(137,144,157);
    display: block;
    text-decoration: none;
    line-height: 25px;

}
.box17 {
    display:flex;
    justify-content: space-evenly;
    flex-direction:row;
    margin-top:50px;
    margin-bottom:100px;
}

/* Footer */
footer{
    background-color:#e8eaed;
}
footer .footer__links{
    display: flex;
    gap: 3rem;
    width: 80%;
    margin: 0 auto;
    /* border: 2px solid red; */
    border-bottom: 2px solid #d9dce2;
    padding-top: 3rem;
    padding-bottom: 6rem;

}
:is(.footer__browse,.footer__help) h3{
    color: #54585f;
    font-size: 0.8rem;
    letter-spacing: 0.6px;
    font-weight: 500;
}
.footer__browse .footer__list{
    display: flex;
    gap: 3.5rem;
}
.footer__list ul:nth-child(4) li{
    /* border: 2px solid red; */
    width: 10rem;
}
:is(.footer__list,.footer__help) ul{
    list-style-type: none;
}
:is(.footer__list,.footer__help) ul li {
    padding: .25rem 0;
}
:is(.footer__list,.footer__help) ul li a {
    text-decoration: none;
    color: #798190;
    font-size: 0.9rem;
}

footer .footer__help{
    display: flex;
    gap: 3rem;
}

footer .footer__contacts{
    width: 80%;
    margin: 0 auto;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.footer__contacts .social__contact{
    display: flex;
    gap: 1.4rem;
}
.contact__links ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
}

.contact__links ul li a {
    text-decoration: none;
    color: #586174;
    font-size: 0.8rem;
}
.contact__links .ads{
    display: flex;
    gap: .3rem;
    justify-content: center;
    align-items: center;
}

/* Accordion */
.accordion-body ul{
    list-style-type: none;
}
.accordion-body ul li {
    padding: .25rem 0;
}
.accordion-body ul li a {
    text-decoration: none;
    color: #798190;
    font-size: 0.9rem;
}

@media screen and (max-width:1020px) {
    .nav2 div:nth-child(2) .login {
        display: none
    }

    .nav2 div .burga1 {
        display: block;
        padding: 5px 5px;

    }

    .nav2 div .burga1:hover {
        color: white;
        background-color: rgb(67, 70, 75);
        ;
        border-radius: 5px;
    }

    .middiv .box1 img {
        width: 10rem;
    }

    .middiv .box2 img {
        width: 12rem;
    }
    .sport__wrapper{
        background-image: url('./images/robotic-img-2.jpg');
    }
    .sport__content{
     height: 800px;
     margin-top: 2rem;
     width: 100%;
    }

    .sport__details h2{
        font-size: 2rem;
        text-align: center;
    }
    .middiv3{
        width: 100%;
    }
    .middiv3 .Select_plan h2{
        font-size: 2rem;
    }
    .box12{
        gap: 0;
    }
    .box14{
        background-color: rgb(11,12,15) !important;
    }
    .base_plan{
        width: 100%;
        border-bottom: 1px solid gray;
        padding-block: 1rem;
    }
    .free_trial_with_adds{
        width: 100%;
    }

    .with__adds{
        flex:  0 0 50%;
        border-right: 1px solid gray;
        background-color: rgb(11,12,15) !important;
    }
    .free_trial_no_adds{
        flex:  0 0 42%;
        /* border: 2px solid green; */
    }
   
    .footer__browse .footer__list{
        justify-content: space-between;
    }
    .footer__list ul:nth-child(4) li{
        width: 12rem;
    }

}

@media screen and (max-width: 770px) {
    .sport__details nav ul {
      width: 80%;
      margin: 0 auto;
    }
    .sport__details nav ul li a {
        font-size: 0.6rem;
    }
    .middiv {
        width: 100%;
        justify-content: space-evenly;
    }

    .middiv .box1 .both {
        font-size: 1rem;
        font-weight: 400;
        padding: 20px 0;
        white-space: nowrap;
    }
    .accordion{
        display: block;
    }
    footer .footer__links{
        display: none;
    }
}
@media screen and (max-width:411px){
    .sport__details nav ul{
        width: 100%;
        margin: 0;
        justify-content: center;
    }
    .sport__details .sport__text{
        font-size: 0.9rem;
        text-align: center;
        padding-inline: 0.5rem;
    }
}
@media screen and (max-width:420px){
    .middiv .box1 .dis{
        font-size: .7rem;
    }
}

@media screen and (max-width:465px) {
    .middiv .box1 img {
        width: 7rem;
    }

    .middiv .box2 img {
        width: 9rem;
    }

}

@media screen and (max-width:502px){
    .middiv .box1 .both {
        white-space: wrap;
    }
}

@media screen and (max-width:1200px) {
    .card__container {
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: 48% 48%;
        padding-inline: 10rem;
    }
    .with__adds{
        background-color: #272C34;
    }
    .box14{
        background-color: #272C34;
    }
    footer .footer__links{
        flex-wrap: wrap;
        width: 90%;
        }
        .footer__browse{
            width: 100%;
        }
}

@media screen and (max-width:790px) {
    .card__container {
        grid-template-columns: repeat(2, 1fr);
        padding-inline: 1rem;
    }
    .sport__icons{
        justify-content: center;
    }
}
@media screen and (max-width:1020px) {
    .box4 h2 {
    font-size: 2rem;
    padding-bottom: 15px;
}
.box4 p {
    padding: 0 15px;
    }
    .box7 {
        width:100%;
        margin: 0;
        padding-top:50px;
        
    
    }
}
@media screen and (max-width:767px) {
    .box4 {
        width:100%;
        padding: 10px;
        padding-top: 3rem;
    }
    :is(.with__adds,.no__adds) .second{
        font-size: 0.7rem;
    }
    :is(.with__adds,.no__adds) .third{
        font-size: 0.9rem;
    }
    .monthly_sub{
        width: 100%;
        font-size: 0.7rem;
        padding-inline: .2rem;
    }
}

/* @media screen and (max-width:1100px) {
.box7 {
        width:50%;
    }
    .box8 h3 p {
        color: rgb(243, 243, 243);
        font-size:1.5rem;
        /* letter-spacing:5px; */
        /* font-kerning: auto; */
        /* font-weight: 400;
        line-height:10px;
        font-size:0.8rem;
    }
}  */ 