* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

#Fsec {
    width: 100%;
    background: red;
    border: 2px sold green;
    background-image: url(images/hulubackgroundimg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav2 {
    width: 100%;
    background-color: none;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}

.nav2 div:nth-child(1) img {
    width: 5rem;
}

.nav2 div:nth-child(2) {
    /* border: 2px solid red; */
    display: flex;

}

.nav2 div:nth-child(2) .login {
    display: block;
    padding: 10px 10px;
    color: rgb(163, 169, 183);
    font-weight: 600;
    font-size: 1rem;
    position: relative;
    text-decoration: none;
}

.nav2 .login:hover {
    color: white;
    background-color: rgb(67, 70, 75);
    border-radius: 5px;

}

.nav2 div .burga1 {
    display: none;
}

.container1 {
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    /* border: 3px solid red; */
}

.middiv {
    width: 50%;
    /* border: 2px solid teal; */
    display: flex;
    text-align: center;
}

.middiv .box1 {
    text-align: center;
}

.middiv .box1 .dis {
    color: rgb(28, 231, 131);
    font-weight: 800;
    padding-bottom: 30px;
    font-size: 0.8rem;

}

.middiv .box1 img {
    width: 12rem;
}

.middiv .box2 img {
    width: 15rem;
}

.middiv .box1 .both {
    color: white;
    font-size: 1.5rem;
    /* text-align:center; */
    font-weight: 600;
    padding: 30px;
}

.middiv .butt button {
    width: 90%;
    padding: 13px;
    font-weight: 700;
    border: 0;
    border-radius: 3px;
    background: rgb(28, 231, 131);
    cursor: pointer;
    transition: background ease-in 300ms;
}

.middiv .butt button:hover {
    /* background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),rgb(28,231,131);  */
    background: rgb(21, 184, 103);


    /* background: red; */
}

.container1 .signup div a {
    display: block;
    font-weight: 400;
    text-align: center;
    color: white;
}

.container1 .signup div a:hover {
    color: rgb(28, 231, 131);
}

.signup {
    /* border: 2px solid teal; */
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.container1 .signup .terms_apply {
    color: rgb(151, 151, 151);
    cursor: pointer;
    font-weight: 500;
    outline: 0;
    border: 0;
    text-decoration: underline;
    background-color: transparent;
}

.view_more {
    color: rgb(255, 255, 255);
    font-size: 0.8rem;

}

.view_more_plan button {
    border: 1px solid rgb(151, 151, 151);
    cursor: pointer;
    outline: 0;
    text-decoration: underline;
    background-color: transparent;
    padding: 20px;
    border-radius: 50%;
}

#Ssec {
    width: 100%;
    padding-bottom: 50px;
    background-color: rgb(11, 12, 15);
}

.box4 {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 4rem;
}

.box4 span {
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(2, 192, 107);
    display: block;
    padding-bottom: 15px;

}

.box4 h2 {
    color: white;
    font-size: 3rem;
    padding-bottom: 25px;

}

.box4 p {
    color: white;
    text-align: center;
    margin: 0 auto;
    max-width: 85ch;
    font-size: 1.03rem;
}

.box5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 95%;
    justify-content: center;
    gap: 2rem;
    justify-content: center;
    padding-inline: 2rem;
}

/* Movie Card */
.card__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 95%;
    justify-content: center;
    padding-inline: 2rem;
    gap: 2rem;
    /* position: relative; */
}

.card {
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    transition: all ease-in-out 300ms;
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0, 0, 0, 0.2);
}

.card:hover::before {
    background-color: rgb(0, 0, 0, 0.6);
}

.card:hover {
    outline: 4px solid gray;
}
.card__text{
    color: white;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    display:flex ;
    flex-direction: column;
    gap: .7rem;

}
.premium {
    color: gray;
    text-align: end;
    padding: 15px 70px 20px 0;
    font-size: 0.8rem;
    /* position: absolute;
    bottom: -1.5rem;
    right: 0; */
}

.box7{
    width: 70%;
    text-align: center;
    color: white;
    margin: 30px auto;
}

.hulu_liveTV {
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(2, 192, 107);
    padding: 5px;

} 
/* .box8{
    margin-top:20px;
}  */
.box7 h2 {
    color: white;
    font-size: 2.8rem;
    font-weight: 600;
    padding: 20px;

} 
.get__channels{
    color: rgb(243, 243, 243);
    font-size: 1.2rem;
    display: flex;
    font-weight: 400;
    width: 85%;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}
.get__hulu{
    margin: 20px auto;
    width: 220px;
    font-weight: 700;
    color: black;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(2, 192, 107);
}
.live__tv__only{
    font-size: 0.6rem;
    color: rgb(157,158,159);
    width: 88%;
    margin:0 auto;
}
.see_details {
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0;
    text-decoration: underline;
    border: 0;
    background: 0;
    color: rgb(129, 129, 131);
    cursor: pointer;
} 
.view__channel{
        border: 0;
        background: 0;
        font-size: 1.1rem;
        padding:30px;
        color: rgb(174, 174, 175);
        text-decoration: underline;
        font-weight:500;
        cursor: pointer;
}
/* .box8 h3 p {
    color: rgb(243, 243, 243);
    font-size: 1.1rem;
    letter-spacing:1px;
    font-kerning: auto;
    font-weight: 400;
    line-height:23px;
    font-size: 1rem;
} */

/* .box8 h3 span {
    display: block;
    font-size: 1.2rem;
    color: rgb(2, 192, 107);
    padding: 25px;
    font-weight: 600;

} */

/* .box8 h3 button {
    width: 220px;
    font-weight: 700;
    ;
    color: black;
    border: 0;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(2, 192, 107);
} */

/* .box9 p {
    color: rgb(129, 129, 131);
    font-size: 0.7rem;
    font-weight: 400;
    padding: 15px;
} */

/* .box9 p>.see_details {
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0;
    border: 0;
    background: 0;
    color: rgb(129, 129, 131);
    cursor: pointer;
} */

/* .box9 button {
    border: 0;
    background: 0;
    padding: 10px;
    color: rgb(174, 174, 175);
    text-decoration: underline;
    font-weight: 800;
    cursor: pointer;
} */

@media screen and (max-width:1020px) {
    .nav2 div:nth-child(2) .login {
        display: none
    }

    .nav2 div .burga1 {
        display: block;
        padding: 5px 5px;
        /* border: 2px solid red; */

    }

    .nav2 div .burga1:hover {
        color: white;
        background-color: rgb(67, 70, 75);
        ;
        border-radius: 5px;
    }

    .middiv .box1 img {
        width: 10rem;
    }

    .middiv .box2 img {
        width: 12rem;
    }

}

@media screen and (max-width: 770px) {
    .middiv {
        width: 100%;
        justify-content: space-evenly;
    }

    .middiv .box1 .both {
        font-size: 1rem;
        /* border: 2px solid maroon; */
        /* text-align:center; */
        font-weight: 400;
        padding: 20px 0;
        white-space: nowrap;
    }
}

@media screen and (max-width:465px) {
    .middiv .box1 img {
        width: 7rem;
    }

    .middiv .box2 img {
        width: 9rem;
    }

    .middiv .box1 .both {
        white-space: wrap;
    }
}

@media screen and (max-width:1200px) {
    .card__container {
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: 48% 48%;
        padding-inline: 10rem;
    }

}

@media screen and (max-width:790px) {
    .card__container {
        grid-template-columns: repeat(2, 1fr);
        padding-inline: 1rem;
    }
}
@media screen and (max-width:1020px) {
    .box4 h2 {
    font-size: 2rem;
    padding-bottom: 15px;
}
.box4 p {
    padding: 0 15px;
    }
    .box7 {
        width:100%;
        margin: 0;
        padding-top:50px;
        
    
    }
}
@media screen and (max-width:767px) {
    .box4 {
        width:100%;
        padding: 10px;
        padding-top: 3rem;
    }
}
/* @media screen and (max-width:1100px) {
.box7 {
        width:50%;
    }
    .box8 h3 p {
        color: rgb(243, 243, 243);
        font-size:1.5rem;
        /* letter-spacing:5px; */
        /* font-kerning: auto; */
        /* font-weight: 400;
        line-height:10px;
        font-size:0.8rem;
    }
}  */ 